In [1]:
import polars as pl
import sqlite3

## Indexing Example

In [11]:
conn = sqlite3.connect('chinook.db')
df = pl.read_database('SELECT * FROM invoices',
                      conn)
df.head()

shape: (5, 9)
┌───────────┬────────────┬────────────┬────────────┬───┬───────────┬───────────┬───────────┬───────┐
│ InvoiceId ┆ CustomerId ┆ InvoiceDat ┆ BillingAdd ┆ … ┆ BillingSt ┆ BillingCo ┆ BillingPo ┆ Total │
│ ---       ┆ ---        ┆ e          ┆ ress       ┆   ┆ ate       ┆ untry     ┆ stalCode  ┆ ---   │
│ i64       ┆ i64        ┆ ---        ┆ ---        ┆   ┆ ---       ┆ ---       ┆ ---       ┆ f64   │
│           ┆            ┆ str        ┆ str        ┆   ┆ str       ┆ str       ┆ str       ┆       │
╞═══════════╪════════════╪════════════╪════════════╪═══╪═══════════╪═══════════╪═══════════╪═══════╡
│ 1         ┆ 2          ┆ 2009-01-01 ┆ Theodor-He ┆ … ┆ null      ┆ Germany   ┆ 70174     ┆ 1.98  │
│           ┆            ┆ 00:00:00   ┆ uss-Straße ┆   ┆           ┆           ┆           ┆       │
│           ┆            ┆            ┆ 34         ┆   ┆           ┆           ┆           ┆       │
│ 2         ┆ 4          ┆ 2009-01-02 ┆ Ullevålsve ┆ … ┆ null      ┆ Norway    ┆ 0171      ┆ 3.96  │
│           ┆            ┆ 00:00:00   ┆ ien 14     ┆   ┆           ┆           ┆           ┆       │
│ 3         ┆ 8          ┆ 2009-01-03 ┆ Grétrystra ┆ … ┆ null      ┆ Belgium   ┆ 1000      ┆ 5.94  │
│           ┆            ┆ 00:00:00   ┆ at 63      ┆   ┆           ┆           ┆           ┆       │
│ 4         ┆ 14         ┆ 2009-01-06 ┆ 8210 111   ┆ … ┆ AB        ┆ Canada    ┆ T6G 2C7   ┆ 8.91  │
│           ┆            ┆ 00:00:00   ┆ ST NW      ┆   ┆           ┆           ┆           ┆       │
│ 5         ┆ 23         ┆ 2009-01-11 ┆ 69 Salem   ┆ … ┆ MA        ┆ USA       ┆ 2113      ┆ 13.86 │
│           ┆            ┆ 00:00:00   ┆ Street     ┆   ┆           ┆           ┆           ┆       │
└───────────┴────────────┴────────────┴────────────┴───┴───────────┴───────────┴───────────┴───────┘

In [14]:
(
    df
    .group_by('BillingCountry')
    .agg(
        pl.len().alias('Number_Transactions'),
        pl.col('Total').sum().alias('Total_Revenue'),
        pl.col('Total').mean().alias('Avg_Transaction_Amt'),
    )
    .sort('Total_Revenue',descending=True)
)

shape: (24, 4)
┌────────────────┬─────────────────────┬───────────────┬─────────────────────┐
│ BillingCountry ┆ Number_Transactions ┆ Total_Revenue ┆ Avg_Transaction_Amt │
│ ---            ┆ ---                 ┆ ---           ┆ ---                 │
│ str            ┆ u32                 ┆ f64           ┆ f64                 │
╞════════════════╪═════════════════════╪═══════════════╪═════════════════════╡
│ USA            ┆ 91                  ┆ 523.06        ┆ 5.747912            │
│ Canada         ┆ 56                  ┆ 303.96        ┆ 5.427857            │
│ France         ┆ 35                  ┆ 195.1         ┆ 5.574286            │
│ Brazil         ┆ 35                  ┆ 190.1         ┆ 5.431429            │
│ Germany        ┆ 28                  ┆ 156.48        ┆ 5.588571            │
│ …              ┆ …                   ┆ …             ┆ …                   │
│ Denmark        ┆ 7                   ┆ 37.62         ┆ 5.374286            │
│ Italy          ┆ 7                   ┆ 37.62         ┆ 5.374286            │
│ Australia      ┆ 7                   ┆ 37.62         ┆ 5.374286            │
│ Spain          ┆ 7                   ┆ 37.62         ┆ 5.374286            │
│ Belgium        ┆ 7                   ┆ 37.62         ┆ 5.374286            │
└────────────────┴─────────────────────┴───────────────┴─────────────────────┘

## Declarative Example

In [7]:
df = pl.read_database('SELECT * FROM Employees',conn)
df.schema

Schema([('EmployeeId', Int64),
        ('LastName', String),
        ('FirstName', String),
        ('Title', String),
        ('ReportsTo', Int64),
        ('BirthDate', String),
        ('HireDate', String),
        ('Address', String),
        ('City', String),
        ('State', String),
        ('Country', String),
        ('PostalCode', String),
        ('Phone', String),
        ('Fax', String),
        ('Email', String)])

In [10]:
(
    df
    .filter(pl.col('Title').str.contains('Sales'))
    .select(
        (pl.col('FirstName') + ' ' + pl.col('LastName')).alias('Full_Name'),
        'Title'
    )
)

shape: (4, 2)
┌───────────────┬─────────────────────┐
│ Full_Name     ┆ Title               │
│ ---           ┆ ---                 │
│ str           ┆ str                 │
╞═══════════════╪═════════════════════╡
│ Nancy Edwards ┆ Sales Manager       │
│ Jane Peacock  ┆ Sales Support Agent │
│ Margaret Park ┆ Sales Support Agent │
│ Steve Johnson ┆ Sales Support Agent │
└───────────────┴─────────────────────┘

## Speed Test
Polars can run in parrallel on all cpu cores, speeding things up compared to pandas

In [4]:
(
    pl.scan_csv('./big_file_test.csv')
    .group_by('label')
    .agg(
        pl.col('data').mean().alias('AVG'),
    )
    .collect()
)

shape: (3, 2)
┌───────┬───────────┐
│ label ┆ AVG       │
│ ---   ┆ ---       │
│ str   ┆ f64       │
╞═══════╪═══════════╡
│ B     ┆ -0.000198 │
│ C     ┆ -0.000318 │
│ A     ┆ 0.000044  │
└───────┴───────────┘

## Query Optimizer

In [ ]:
(
    pl.scan_csv('./big_file_test.csv')
    .head(1000)
    .group_by('label')
    .agg(
        pl.col('data').mean().alias('AVG'),
    )
    .collect()
)

shape: (3, 2)
┌───────┬───────────┐
│ label ┆ AVG       │
│ ---   ┆ ---       │
│ str   ┆ f64       │
╞═══════╪═══════════╡
│ B     ┆ -0.000198 │
│ C     ┆ -0.000318 │
│ A     ┆ 0.000044  │
└───────┴───────────┘